body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .donaciones {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .donaciones ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .donaciones li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .donaciones img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .donaciones a {
    color: #337ab7;
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  form {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #23527c;
  }